@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kalnia", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.border-gradient {
  border-image: linear-gradient(140.99deg, #D7A3FF 0%, #AC42FF 100%);
  border-image-slice: 1;
}